<div class="  mt-5" style="padding-top: 15rem; padding-bottom: 16rem;background-color:#1e1e1e; color:white" >
    <div class="col-md-12 text-center">
         <h2>Order Placed Successfully!</h2>
         <br>
         <a href="/orders" class="btn btn-success">View Orders</a>
    </div>
</div> 
<footer >
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #000; color:white">
    &copy;
    <script type="text/javascript">
      var today = new Date()
      var year = today.getFullYear()
      document.write(year)
    </script>
    <a class="text-black">Swiftcart</a>
  </div>
</footer>